# ========================= SENSITIVE DATA =========================
logins.xlsx
# ========================= END SENSITIVE DATA =========================


# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/workspace.xml
/lib/

# Development files
*.cookie
*.csv
/.idea/

# Working/temporary files
### MicrosoftOffice ###
*.tmp
# Word temporary
~$*.doc*
# Word Auto Backup File
Backup of *.doc*
# Excel temporary
~$*.xls*
# Excel Backup File
*.xlk
# PowerPoint temporary
~$*.ppt*
# Visio autosave temporary files
*.~vsd*

# Slush directories
/research
_DEVFIXTURES/

# Test resources
/test/resources
/test/secure_resources
**/test/data
/src/test/data/video_test/

# Video processing
**/public/videos/**
/vid_out/**

# Compiler output
/build/
/out/
