# ========================= SENSITIVE DATA =========================
/secure_data
**/secure_resources/
# ========================= END SENSITIVE DATA =========================

# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
/lib/
/.idea/

# Development files
*.cookie
*.csv

# Working/temporary files
### MicrosoftOffice ###
*.tmp
# Word temporary
~$*.doc*
# Word Auto Backup File
Backup of *.doc*
# Excel temporary
~$*.xls*
# Excel Backup File
*.xlk
# PowerPoint temporary
~$*.ppt*
# Visio autosave temporary files
*.~vsd*

# Slush directories
/research
_DEVFIXTURES/

# Test output
**/test/data

# Compiler output
/build/
/out/
