label {
  margin: 5px 0;
}

ul {
  list-style: none;
  padding: 0;
}

input[type="text"] {
  padding-bottom: 5px;
  margin-bottom: 2em;
  display: inline;
}

.container {
  margin: 2em;
  padding: 2em 4em;
  display: flow-root;
  background-color: #dedede;
  border: 1px solid #ccc;
}

.server {
  cursor: pointer;
  padding: 1.2em 1.5em;
  margin: 1.5em 0;
  background-color: #ccc;
  border: 1px solid #bbb;
  color: #333;
}
  .server:hover {
    background-color: #eee;
    border: 1px solid #ccc;
  }
  .server.selected {
    background-color: deepskyblue;
    border: 1px solid #666;
    color: black;
  }
    .server.selected:hover {
      background-color: skyblue;
      border: 1px solid #666;
      color: #666;
    }

#server-list-container {
  float: left;
  margin: 2em;
  padding: 2em 2em;
  display: inline-table;
  background-color: #dedede;
  border: 1px solid #ccc;
}

#server-title {
  margin: 1.2em;
}

#user-container {
  float: right;
}

#username-container {
  float: left;
}

#password-container {
  float: right;
  padding-left: 4em;
}

#login-button-container {
  text-align: center;
  padding: 1em 2em 1em 0;
}

#login-button {
  cursor: pointer;
  font-size: 14pt;
  border: 2px solid #666;
  display: block;
  background-color: #efefef;
  padding: .5em 1em;
  letter-spacing: .12em;
  text-align: center;
}
  #login-button:hover {
    background-color: #4c8bf5;
    border: 2px solid #efefef;
    color: #efefef;
  }
  #login-button:disabled,
  #login-button[disabled] {
    background-color: transparent;
    border-color: #ccc;
    color: #ccc;
    cursor: default;
  }

#login-spinner {
  float: right;
  margin: 0 2em;
  display: none;
}

#login-button-container {
  display: flex;
  align-items: center;
}

.user {
  border: 1px solid black;
  padding: 10px;
  margin-top: -1px;
  cursor: pointer;
}
  .user.logged-in {
    background-color: deepskyblue;
    font-weight: bolder;
  }
  .user.logged-out {
    background-color: cyan;
  }

.logged-checkbox {
  float: right;
}

#message-container {
  opacity: 0;
  display: none;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 75%;
  left: 25%;
  background-color: green;
  width: 50%;
  border-radius: 20px;
  color: whitesmoke;
  text-align: center;
  box-shadow: 2px 2px 5px black;
}
  #message-container.error-message {
    background-color: red;
  }
  #message-container.success-message {
    background-color: green;
  }